<!DOCTYPE HTML>
<html>
	<head>
		<title>BLJCOnez ©1997</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="stylesheets/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
		<link rel="icon" href="../pipe.png">
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- HEADER -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">
					<span>
						<a href="https://www.facebook.com/13rettny.onez"><img src="/images/facebook.png"></a>
						<a href="https://www.pinterest.com/brettnyloisejan/"><img src="/images/pinterest.png"></a>
						<a href="https://github.com/sherluck13BCO"><img src="/images/github.png"></a>
						<a href="https://plus.google.com"><img src="/images/google-plus.png"></a>
						<a href="https://twitter.com/brettny_ljco"><img src="/images/twitter.png"></a>
					</span>
					</a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Home</a></li>
							<li><a href="#about" class="smoothScroll">About</a></li>
							<li><a href="#interest" class="smoothScroll">Interest</a></li>
							<li><a href="#skills" class="smoothScroll">Skills</a></li>
							<li><a href="#contact" class="smoothScroll">Contact</a></li>
						</ul>
					</nav>
				</header>

			<!-- BANNER -->
				<section id="banner">
					<div class = "inner">
						<footer>
							<ul class="buttons">
								<li><a href="#main" class="button"> Scroll Down </a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- MAIN -->
				<article id="main">
					<!-- ABOUT ME  SECTION -->
						<section id="about" class="wrapper style container special">
						<header class="major">
							<h2><strong>About Me</strong></h2>
						</header>
							<div class="row">
								<div><img src="/images/avatar.jpg" ></div>
								<p>Brettny Loise Jane Onez, 19. <br>University of the Philippines Cebu <br> Computer Science Undergraduate </p>
							</div>
						</section>

						<!-- INTEREST  SECTION -->
						<section id="interest" class="wrapper style container special">
						<header class="major">
							<h2><strong>Interests</strong></h2>
						</header>
							<div>
								<div class="gallery">
								  <a target="_blank" href="sherlock.jpg">
								  <img src="/images/sherlock.jpg" width="300" height="200">
								  </a>
								</div>

								<div class="gallery">
								  <a target="_blank" href="classic.jpg">
								  <img src="/images/classic.jpg"  width="300" height="200">
								  </a>
								</div>
								<div class="gallery">
								  <a target="_blank" href="mystery.jpg">
								  <img src="/images/mystery.jpg"  width="300" height="200">
								  </a>
								</div>

								<div class="gallery">
								  <a target="_blank" href="friends.jpg">
								  <img src="/images/friends.jpg"  width="300" height="200">
								  </a>
								</div>

								<div class="gallery">
								  <a target="_blank" href="monsters.jpg">
								  <img src="/images/monsters.jpg"  width="300" height="200">
								  </a>
								</div>

								<div class="gallery">
								  <a target="_blank" href="cutie.jpg">
								  <img src="/images/cutie.jpg"  width="300" height="200">
								  </a>
								</div>
							</div>
						</section>

					<!-- SKILLS SECTION -->
						<section id="skills" class="wrapper style container special">
						<header class="major">
							<h2><strong> Skills</strong></h2>
						</header>
			
								<div id= "list1">
									<ul>
									<li><img src="/images/java.png"></li>
									<li><img src="/images/c1.png"></li>
									<li><img src="/images/sql.png"></li>
									<li><img src="/images/html.png"></li>
									<li><img src="/images/css.png"></li>
									<li><img src="/images/javascript.png"></li>
									<li><img src="/images/android.png"></li>
									</ul>
								</div>
							
						</section>


					<!-- FORM SECTION CONTACT ME -->
						<section id="contact" class="wrapper style container special">

							<form id="login-form" action="/contact" method="post">
							<header class="major">Send me a Message</header>
    						<!-- <p>Send me a Message</p> -->
    							<div>
	    							<label>Name: </label>
									<input name="name" type="text" width="100px;">
								</div>
								<div>
									<label>Email: </label>
									<input name="email" type="text">
								</div>
									<span>
										<label>Message:</label>
									</span>
								<div>
								<textarea cols="15" name="message" rows="10"></textarea>
								</div>
								<input id="submit" type="submit" value="Send Message" onclick="alert('Message Sent.')">
			                </form>
			
							
						</section>
				</article>
		</div>

		<!-- Scripts -->
			<script src="../jquery.min.js"></script>
			<script src="../skel.min.js"></script>
			<script src="../util.js"></script>
			<script src="../main.js"></script>

	</body>
</html>